<?xml version="1.0"?>
<launch>

  <arg name="dev" default="vim4" doc="choose between [pc, vim4]"/> 
  <arg name="enable_sensor_io" default="false"/>
  <arg name="enable_adc" default="true"/>
  <arg name="enable_dac" default="true"/>
  <arg name="sensor_io_config" default="$(find robotic_fish_io)/config/io.yaml"/>

  <include file="$(find spinal)/launch/bridge.launch" if = "$(eval arg('dev') == 'pc')" >
    <arg name="dev" value="$(arg dev)" />
  </include>

  <node pkg="robotic_fish" type="advance_teleop.py" name="adv_teleop_node" output="screen">
    <param name="vel_rate" value="250"/>
    <param name="max_val" value="250.0"/>
  </node>

  <node pkg="joy" type="joy_node" name="joy_node" output="screen" >

    <param name="dev" value="/dev/input/js0"/>
    <param name="coalesce_interval" value="0.025"/>
  </node>

  <include if="$(arg enable_sensor_io)"
           file="$(find robotic_fish_io)/launch/sensor_io.launch">
    <arg name="config" value="$(arg sensor_io_config)"/>
    <arg name="enable_adc" value="$(arg enable_adc)"/>
    <arg name="enable_dac" value="$(arg enable_dac)"/>
  </include>
</launch>
