<?xml version="1.0"?>
<launch>

  <arg name="dev" default="vim4" doc="choose between [pc, vim4]"/>
  <arg name="enable_sensor_io" default="false"/>
  <arg name="enable_adc" default="true"/>
  <arg name="enable_dac" default="true"/>
  <arg name="enable_agc" default="false"/>
  <arg name="sensor_io_config" default="$(find robotic_fish_io)/config/io.yaml"/>
  <arg name="record_bag" default="true"/>
  <arg name="bag_prefix" default="$(env HOME)/sonic_"/>

  <include file="$(find spinal)/launch/bridge.launch" if = "$(eval arg('dev') == 'pc')" >
    <arg name="dev" value="$(arg dev)" />
  </include>

  <node pkg="robotic_fish" type="sonic_teleop.py" name="sonic_teleop_node" output="screen">
    <param name="joy_dead_zone" value="0.1"/>
    <param name="servo_center" value="2048.0"/>
    <param name="servo_range" value="1024.0"/>
    <param name="auto_frequency" value="1.5"/>
    <param name="auto_default_amplitude" value="512.0"/>
    <param name="auto_amplitude_rate" value="64.0"/>
  </node>

  <node pkg="joy" type="joy_node" name="joy_node" output="screen" >

    <param name="dev" value="/dev/input/js0"/>
    <param name="coalesce_interval" value="0.025"/>
  </node>

  <include if="$(arg enable_sensor_io)"
           file="$(find robotic_fish_io)/launch/sensor_io.launch">
    <arg name="config" value="$(arg sensor_io_config)"/>
    <arg name="enable_adc" value="$(arg enable_adc)"/>
    <arg name="enable_dac" value="$(arg enable_dac)"/>
    <arg name="enable_agc" value="$(arg enable_agc)"/>
  </include>

  <include file="$(find robotic_fish)/launch/record.launch">
    <arg name="enabled" value="$(arg record_bag)"/>
    <arg name="bag_prefix" value="$(arg bag_prefix)"/>
  </include>
</launch>
