<?xml version="1.0"?>
<launch>

  <node pkg="robotic_fish" type="sonic_teleop.py" name="sonic_teleop_node" output="screen">
    <param name="joy_dead_zone" value="0.1"/>
    <param name="servo_center" value="2048.0"/>
    <param name="servo_range" value="1024.0"/>
    <param name="auto_frequency" value="1.5"/>
    <param name="auto_default_amplitude" value="512.0"/>
    <param name="auto_amplitude_rate" value="64.0"/>
  </node>

  <node pkg="joy" type="joy_node" name="joy_node" output="screen" >

    <param name="dev" value="/dev/input/js0"/>
    <param name="coalesce_interval" value="0.025"/>
  </node>
</launch>
