<?xml version="1.0"?>
<launch>
  <arg name="dev" default="pc" doc="choose between [pc, vim4]"/>
  <arg name="spinal_mode" default="serial"/>
  <arg name="config" default="$(find robotic_fish_io)/config/io.yaml"/>
  <arg name="enable_adc" default="true"/>
  <arg name="enable_dac" default="true"/>
  <arg name="enable_gain_control" default="true"/>
  <!-- Deprecated compatibility alias. true selects closed_loop. -->
  <arg name="enable_agc" default="false"/>
  <arg name="gain_mode" default="off"/>
  <arg name="fixed_gain_voltage" default="0.0"/>
  <arg name="agc_target_min_v" default="2.5"/>
  <arg name="agc_target_max_v" default="3.0"/>
  <arg name="agc_step_v" default="0.01"/>
  <arg name="adc_safety_limit_v" default="3.50"/>

  <include file="$(find spinal)/launch/bridge.launch">
    <arg name="dev" value="$(arg dev)" />
    <arg name="mode" value="$(arg spinal_mode)" />
  </include>

  <include file="$(find robotic_fish_io)/launch/sensor_io.launch">
    <arg name="config" value="$(arg config)"/>
    <arg name="enable_adc" value="$(arg enable_adc)"/>
    <arg name="enable_dac" value="$(arg enable_dac)"/>
    <arg name="enable_gain_control" value="$(arg enable_gain_control)"/>
    <arg name="enable_agc" value="$(arg enable_agc)"/>
    <arg name="gain_mode" value="$(arg gain_mode)"/>
    <arg name="fixed_gain_voltage" value="$(arg fixed_gain_voltage)"/>
    <arg name="agc_target_min_v" value="$(arg agc_target_min_v)"/>
    <arg name="agc_target_max_v" value="$(arg agc_target_max_v)"/>
    <arg name="agc_step_v" value="$(arg agc_step_v)"/>
    <arg name="adc_safety_limit_v" value="$(arg adc_safety_limit_v)"/>
  </include>
</launch>
